body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #fdfac5;
}

#getTime {
    width: 400px;
    margin: 0 auto;
}

.lessMore {
    width: 35px;
    background-color: red;
}

#work,
#rest {
    width: 50px;
    padding: 6px 12px;
}

.adjust {
    border: 1px solid red;
    width: 122px;
    margin: 0 auto;
}
.btn {
	border-radius: 0;
}
#start {
    background-color: red;
}