body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #e9f2f5;
    color: #756969;
    font-family: 'ABeeZee', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.h1,
h1 {
    font-size: 4em;
}

a {
    color: #756969;
    text-decoration: underline;
}

a:hover,
a:active {
    color: #756969;
}

.container-fluid {
    margin-top: 100px;
}

#getTime {
    width: 400px;
    margin: 0 auto;
}

.lessMore {
    width: 48px;
    background-color: #ff91a3;
    font-size: 1.5em;
    color: #f3f3f3;
}

#work,
#rest {
    width: 54px;
    padding: 13px 12px;
    background-color: #f3f3f3;
}

.adjust {
    border: 1px solid #f3f3f3;
    width: 152px;
    margin: 0 auto;
}

.btn {
    border-radius: 0;
}

#start {
    background-color: #c4e2c6;
    margin: 25px 0;
    border: 3px solid #f3f3f3;
    font-size: 1.2em;
}

#displayTime {
    font-size: 5em;
    color: #756969;
}