body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #e9f2f5;
    color: #756969;
    font-family: 'ABeeZee', sans-serif;
}

a {
    color: #756969;
    text-decoration: underline;
}

a:hover,
a:active {
    color: #756969;
}

#getTime {
    width: 400px;
    margin: 0 auto;
}

.lessMore {
    width: 35px;
    background-color: #ff91a3;
}

#work,
#rest {
    width: 50px;
    padding: 6px 12px;
    background-color: #f3f3f3;
}

.adjust {
    border: 1px solid #f3f3f3;
    width: 122px;
    margin: 0 auto;
}

.btn {
    border-radius: 0;
}

#start {
    background-color: #c4e2c6;
    margin: 25px 0;
}

//Countdown Animation